body {
    margin: 0;
    font-family: noto;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://www.google.co.jp/url?sa=i&url=https%3A%2F%2Fwww.thejazzpianosite.com%2Fjazz-piano-lessons%2F&psig=AOvVaw1zNQlahHM90SGGeoNZFr6n&ust=1607142896076000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDJlIDAs-0CFQAAAAAdAAAAABAD);
    background-size: cover;
    color: white;
  }